<link rel="stylesheet" type="text/css" href="/css/index.css">


<div class="container">
  <div id="myimg">
    <img src="/images/namelogo.png" alt="">
    <img id='watson-logo' src="/images/watsoncolor.gif" alt="">
  </div>
<div id="output"></div>
  <h6 align="center">Recognized Text</h6>
  
</div>
  <div>
    <div id="recognizedText"></div>
    <button id="first-btn" onclick="startConverting();">
      <i class="fa fa-microphone"></i>
    </button>
    <div id="recognizedText2"></div>
  </div>

  {{!-- displays socket response--}}
  <div id="chatOutput"></div>
  <input type="text" name="" value="Jose" id="handle" display="none">
  <input type="text" name="" id="messageId" display="none">
  {{!-- this div emmits response from watson --}}


<script src="chat.js"></script>